.footer {
	margin-top: auto;
	padding: rem(68) 0 rem(40);

	background-color: $gray-900;

	&__row{

	}
	&__col{
		&--left{
			@include media-breakpoint-up(xl){
				width: 32.7%;
				padding: rem(8) 0 0 rem(75);
			}
		}
		&--mid{

		}
		&--right{
			@include media-breakpoint-up(xl){
				padding-left: rem(74);
			}
		}
	}
	&__logo{
		display: block;
		width: rem(210);

		img{
			width: 100%;
		}

		margin-bottom: rem(20);
	}
	//
	.menu{
		list-style: none;
		padding: 0;
		margin: 0 0 rem(20);

		.menu-item{
			margin-bottom: 8px;
			&:last-child{
				margin-bottom: 0;
			}

			a{
				display: inline-block;
				text-transform: uppercase;

				color: $gray-710;
				&:hover{
					color: $white;
				}
			}
		}
	}

	//
	&__input-wrap{
		position: relative;
		width: rem(383);
		max-width: 100%;
	}
	&__input{
		background-color: rgba($white, .2) !important;
		color: $white!important;
		border: none;

		padding: rem(13px) var(--btn-w);
		text-align: center;
		text-transform: uppercase;

		@include placeholder(){
			color: $white;
		}
	}

	--btn-w: 50px;
	&__btn{
		@extend .btn;
		padding: 2px;

		display: flex;
		align-items: center;
		justify-content: center;

		position: absolute;
		z-index: 2;
		right: 0;
		top: 0;
		height: 100%;
		width: var(--btn-w);

		.icon{
			font-size: rem(20);
			color: $white;
		}
		&:hover{
			background-color: $gray-700;
		}

		//-
		&--static{
			position: static;
			height: auto;
			width: auto;
			padding: rem(4);
		}
	}
	&__d-title{
		color: $white;
		font-weight: 300;
		text-transform: uppercase;

		font-size: rem(42);
		line-height: calc(48/42);
		margin-bottom: rem(7);
	}
	&__d-mnu{
		ul{
			list-style: none;
			padding: 0 0 0 rem(5);
			margin: 0;
			li{
				margin-bottom: 8px;
				&:last-child{
					margin-bottom: 0;
				}


				a{
					display: inline-block;

					color: $gray-710;
					&:hover{
						color: $white;
					}
				}
			}
		}
	}
	//-
	&__{}
	&__{}
}

