extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sPlates/_sPlates.pug
include ../blocks/sSteps/_sSteps.pug
include ../blocks/sDiscount/_sDiscount.pug
include ../blocks/sWhy/_sWhy.pug
include ../blocks/sFeedBack/_sFeedBack.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sVideo/_sVideo.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg="index-2.png"
	//- let  bg="index-320.jpg"

block title
	- let  title= 'title'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+top-nav()
		+topLine()
	+headerBlock()
	+sPlates()
	+sSteps()
	+sDiscount()
	+headerBlockBrand()
	+sWhy()
	+sFeedBack()
	+sNews()
	+sVideo()
	//+sPlates()
	//+sForm()
	//+sContact()
	+footer()