// start .sFeedBack
.sFeedBack {
	--sPT: 42px;
	--sPB: 20px;
	--sTPB: 30px;
	@include media-breakpoint-up(md){
		--sPT: 0;
		--sPB: 0;
		--sTPB: 0;
	}

	//22
	//79/91
	&__main-row{
		flex-direction: column-reverse;
		--bs-gutter-y: 27px;
		@include media-breakpoint-up(md){
			--bs-gutter-y: 0;
			flex-direction: row;
		}
	}

	@include media-breakpoint-down(md){
		background-color: $primary;
		color: $white;

		background-image: url(../img/@2x/gradient.jpg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	@include media-breakpoint-up(md){
		background-color: $gray-900;
		color: $white;
	}
	&__container{
		position: relative;
		z-index: 10;
	}
	--sec-title-h: #{rem(133)};


	.section-title{

		@include media-breakpoint-up(md){
			position: absolute;
			z-index: 10;
			top: 0;
			right: 0;
			height: var(--sec-title-h);

			display: flex;
			align-items: center;
		}
		@include media-breakpoint-up(xl){
			right: rem(-18px);
			padding-top: 20px;
		}

		h2{
			color: inherit;
		}
	}
	&__slider-wrap{
		.swiper{

		}
		.swiper-wrapper{

		}
		.swiper-slide{
			@include media-breakpoint-up(md){
				background-color: $gray-900;
			}
		}
	}
	&__slide-cont{
		@include media-breakpoint-up(xxl){
			position: relative;
			left: 17px;
		}
	}

	&__row{
		--bs-gutter-x: 0;

		--bs-gutter-y: 32px;
	}
	&__col{
		&--left{
			@include media-breakpoint-up(md){
				width: rem(383);
			}
		}
		&--rigth{
			@include media-breakpoint-up(md){
				padding-top: var(--sec-title-h);
				padding-left: rem(65);
			}
		}
	}
	&__orange-cont{
		padding: 0 0 0 18px;
		@include media-breakpoint-up(md){
			min-height: 100%;
			color: $black;
			background-color: $primary;
			background-image: url(../img/@2x/gradient.jpg);
			background-size: cover;
			background-repeat: no-repeat;

			display: flex;
			flex-direction: column;

			padding: rem(48) rem(40);
		}
		@include media-breakpoint-up(xxl){
			padding: rem(68) rem(48);
		}

		position: relative;
		z-index: 1;
		&:after{
			@include media-breakpoint-up(md){
				content: '';
			}
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			width: 90%;
			height: 90%;

			opacity: .2;
			background-image: url(../img/svg/like.svg);
			background-repeat: no-repeat;
			background-position-y: 100%;
			background-position-x: 0;
			background-size: contain;
		}

		.swiper-pagination{
			margin-top: auto;
			display: flex;
			justify-content: flex-end!important;
		}
	}


	&__orange-row{
		--bs-gutter-x: 34px;
	}
	&__mob-logo{
		width: 69px;

		display: flex;
		align-items: center;
		justify-content: center;

		img{
			width: auto;
			max-width: 100%;
		}
	}
	&__{}
	&__{}
	//
	&__logo{
		display: block;

		margin-bottom: rem(72);
		@include media-breakpoint-up(xl){
			margin-bottom: rem(48);
		}

		img{
			width: auto;
			max-width: 100%;
		}
	}

	//-
	--arrow-w:#{rem(30)};
	&__title-wrap{
		position: relative;

		display: flex;
		align-items: center;

		margin: 0 calc(var(--arrow-w) * -1 + 17px) 7px calc(var(--arrow-w) * -1);
		@include media-breakpoint-up(sm){
			margin: 0 calc(var(--arrow-w) * -1) rem(30);
		}
		@include media-breakpoint-up(xl){
			margin: 0 calc(var(--arrow-w) * -1 + 10px) rem(30) calc(var(--arrow-w) * -1 - 5px);
		}

	}
	&__title{
		font-size: 17.5px;
		@include media-breakpoint-up(md){
			font-size: rem(24);
		}
		text-transform: uppercase;
	}

	&__prev,
	&__next{
		//background-color: red;
		width: var(--arrow-w);
		height: var(--arrow-w);

		display: flex;
		align-items: center;
		justify-content: center;

		.icon{
			font-size: 16px;
			@include media-breakpoint-up(sm){
				font-size: rem(24);
			}
			color: $white;
		}
	}

	&__prev{

	}
	&__next{
		margin-left: auto;
	}

	//-
	&__descr{
		line-height: 1.25;

		font-size: 10.5px;
		@include media-breakpoint-up(sm){
			font-size: rem(18);
		}

		& > *:last-child{
			margin-bottom: 0;
		}
	}

	--box-shift: #{rem(37)};

	&__box{
		background-color: $gray-840;
		border-radius: rem(25);

		padding: 13px 12px 13px 17px;
		line-height: 1.23;
		text-align: justify;
		margin: 0 0 22px;
		@include media-breakpoint-up(md){
			text-align: left;
			line-height: 1.25;
			padding: rem(39) var(--box-shift) rem(29);
			margin: 0 calc(var(--box-shift) * -1) rem(26);
		}
		@include media-breakpoint-up(xl){
			padding: 35px 45px 24px 42px;
			margin: 0 -56px rem(26) -37px;
		}

		p{
			font-size: 10.5px;
			@include media-breakpoint-up(sm){
				font-size: rem(18);
			}
		}


		& > *:last-child{
			margin-bottom: 0;
		}

		position: relative;
		&:after{
			content: '';
			position: absolute;
			z-index: 2;
			pointer-events: none;
			background-color: $gray-840;

			@include media-breakpoint-down(md){
				bottom: calc(100% - 1px);
				left: 30px;
				height: 28px;
				width: 18px;
				clip-path: polygon(100% 100%, 0 0, 0 100%);
			}
			@include media-breakpoint-up(md){
				top: rem(25);
				right: calc(100% - 1px);
				width: rem(55);
				height: rem(32);
				clip-path: polygon(100% 0, 0 0, 100% 100%);
			}
		}
	}
	&__btn-row{
		margin-bottom: rem(66);
		--bs-gutter-y: #{20px};

		align-items: center;
		@include media-breakpoint-up(md){
			align-items: stretch;
		}
	}
	&__btn{
		@extend .btn;
		@extend .btn-primary;

		@include media-breakpoint-down(md){
			color: $white!important;
			background-color: $dark!important;
		}

		font-size: 10.5px;
		padding: 6px 17px;
		@include media-breakpoint-up(lg){
			font-size: rem(18);
			padding: 10px 10px;
			min-width: rem(314);
		}
	}
	&__map{
		line-height: 1;
		color: $white;

		font-size: 10.5px;
		@include media-breakpoint-up(sm){
			font-size: $em-base;
		}

		@include media-breakpoint-up(xl){
			position: relative;
			top: -7px;
			right: -11px;
		}
		text-decoration: underline;
	}
	&__all{
		display: inline-block;
		color: $white;

		font-size: 10.5px;
		@include media-breakpoint-up(sm){
			font-size: $em-base;
		}
		text-decoration: underline;
		margin-bottom: rem(39);

		@include media-breakpoint-up(xl){
			position: relative;
			left: -22px;
		}
	}

	//-
	&__sub-slider{
		.swiper{}
		.swiper-wrapper{}
		.swiper-slide{
			width: calc(100%/2);
			@include media-breakpoint-up(sm){
				width: calc(100%/3);
			}
			@include media-breakpoint-up(lg){
				width: calc(100%/4);
			}
			@include media-breakpoint-up(xl){
				width: calc(100%/5);
			}

			background-color: $black;
			&.swiper-slide-thumb-active{
				img{
					opacity: .7;
				}
			}
		}
	}
	&__sub-img{
		@extend .accept-ratio-frame;
		cursor: pointer;

		padding-top: 76%;
		@include media-breakpoint-up(sm){
			padding-top: 75%;
		}
	}
	//
	--alt-arrow-w: 24px;
	@include media-breakpoint-up(md){
		--alt-arrow-w: #{rem(53)};
	}
	&__alt-prev,
	&__alt-next{
		//background-color: red;
		position: absolute;
		z-index: 10;

		background-color: $gray-900;
		//background-color: $red;
		top: calc(100% - var(--alt-arrow-w) - 20px);
		@include media-breakpoint-up(md){
			background-color: transparent;
			top: 50%;
			transform: translateY(-50%);
		}

		width: var(--alt-arrow-w);
		height: var(--alt-arrow-w);
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			display: none;
			@include media-breakpoint-up(md){
				display: block;
			}

			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}

		.icon{
			font-size: 16px;
			color: $white;

			@include media-breakpoint-up(md){
				display: none;
			}
		}
	}

	&__alt-prev{
		left: 24px;
		@include media-breakpoint-up(md){
			left: rem(40);
		}
	}
	&__alt-next{
		@include media-breakpoint-down(md){
			transform: translateX(var(--alt-arrow-w));
			left: 24px;
		}

		@include media-breakpoint-up(md){
			right: rem(40);
		}
	}

	//-
	&__{}
	&__{}
} // end.sFeedBack