mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		+e.container.container
			+e.row.row.align-items-center.flex-nowrap
				.col
					+e.logo(href='/')
						img(loading="lazy" src="img/@2x/logo.png" alt="")
				.col-auto.d-none.d-md-block
					+b.tl-link--tel(href="tel:2301010")
						+icon('tell')
						span +7 (831) 230 10 10
				.col-auto.d-none.d-xxl-block
					+b.tl-link--mail(href="mailto:Nnreklama@maiL.ru")
						+icon('soc-mail')
						span Nnreklama@maiL.ru
				.col-auto.d-none.d-lg-block
					+b.tel-links
						a(href="#")
							+icon('soc-wa')
						a(href="#")
							+icon('soc-vb')
						a(href="tel:+79503431010") +7 950 343 10 10
				.col-auto
					//-+soc()
					+b.soc
						+item-sos('soc-inst')
						+item-sos('soc-yt')
				.col-auto.d-none.d-md-block
					+e.btn(href="#") сделать заказ
	// end topLine