.top-nav {
	background-color: $primary;
	background-image: url(../img/@2x/gradient.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	--link-px: #{rem(20)};
	@include media-breakpoint-up(xxl){
		--link-px: #{rem(28)};
	}

	padding: 23px 0 7px;
	@include media-breakpoint-up(lg){
		padding: 0;
	}

	&__container{
		@include media-breakpoint-up(xxl){
			padding-left: 45px;
			//padding-right: 20px;
		}
	}
	&__row{
		--bs-gutter-x: 12px;
		@include media-breakpoint-up(sm){
			--bs-gutter-x: #{rem(20)};
		}
	}

	.menu{
		list-style: none;
		padding: 0;
		margin: 0 calc(var(--link-px, 20px) * -1);

		display: flex;
		align-items: center;
		justify-content: space-between;

		& > .menu-item{

			& > a{
				display: block;
				padding: rem(15) var(--link-px, 20px);

				background-color: transparent;
				color: $white;
				&:hover{
					background-color: $primary;
					color: $black;
				}
			}
		}
	}

	//--
	&__order{
		color: $white!important;

		font-size: 10.5px;
		@include media-breakpoint-up(sm){
			font-size: rem(14);
		}
	}
	&__btn{
		@extend .btn;
		padding: 0;
		outline: none;
		margin: 0;

		.icon{
			color: $white;

			font-size: 15px;
			@include media-breakpoint-up(sm){
				font-size: rem(24);
			}
		}
	}
	&__{}
}


