// start .header
.header {
	@include mt();
	position: fixed;
	//-position: absolute;

	z-index: 900;
	top: 0;
	left: 0;
	width: 100%;

	&.fixed{
		box-shadow: 0 0 15px 0 rgba($red, .2);
	}


	&__{}
} // end.header