//- WP menu
mixin mnu()
	-
		var nav= { 
			"Главная":"#",
			"Услуги":"#",
			"Портфолио":"#",
			"Продукция":"#",
			"Клиенты":"#",
			"Отзывы":"#",
			"Видео":"#",
			"Блог":"#",
			"Контакты":"#",
			}
	ul.menu
		each linkPatch, linkName in nav
			li.menu-item: a(href=linkPatch)= linkName

//- menu